{% extends "base.html" %}

{% block title %}We Blog{% endblock %}

{% block content %}
    {% for post in post_list %}
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
            <h1><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h1>
            <p class="text-muted"> 
                <small>
                    <a href="{% url 'profile_detail' post.author.id %}">{{ post.author }}</a>
                </small> 
                <small style="margin-left: 2cm">{{ post.created_date }}</small>
                <small style="margin-left: 2cm">likes: {{ post.likes }}</small>
            </p>
            <p class="card-text ">{{ post.content | safe }}</p>
            </div>
        </div>   
        {% if user.id == post.author.id %}
            <!-- do something here -->
        {% endif %}
    {% endfor %}
{% endblock %}