{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
        <h1>{{ post.title }}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_date }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>

        <hr>
        <form action="{% url 'like-post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if user in post.likes.all %}
                <button type="button" class="btn btn-danger">I Like it</button>
            {% else %}
                {% if user.is_authenticated %}
                    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
                {% else %}
                    <a href="{% url 'login' %}">
                        <button type="button", class="btn btn-primary btn-sm">Like</button>
                    </a>
                {% endif %} 
            {% endif %}
        </form>
        </div>
    </div>
{% endblock %}